.videoSideBar {
  position: absolute;
  top: 27vh;
  right: 0;
  color: white;
}

.videoSideBar__options {
  padding: 20px;
  text-align: center;
}

@media only screen and (max-height: 600px) {
  .videoSideBar {
    top: 20vh;
  }
}

@media only screen and (min-height: 601px) and (max-height: 667px) {
  .videoSideBar {
    top: 27vh;
  }
}

@media only screen and (min-height: 668px) and (max-height: 740px) {
  .videoSideBar {
    top: 30vh;
  }
}

@media only screen and (min-height: 741px) and (max-height: 1180px) {
  .videoSideBar {
    top: 20vh;
  }
}

@media only screen and (min-height: 1181px) and (max-height: 1368px) {
  .videoSideBar {
    top: 17vh;
  }
}
